<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="com.redhat.eclipseide.nbcode.NBCodeStreamConnectionProvider"
            clientImpl="com.redhat.eclipseide.nbcode.NBLanguageClient"
            id="com.redhat.eclipseide.nbcode"
            label="Netbeans Language Server">
      </server>
      <contentTypeMapping
            contentType="lng.java"
            id="com.redhat.eclipseide.nbcode"
            languageId="java">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.redhat.eclipseide.nbcode.NBCodePreferencePage"
            id="com.redhat.eclipseide.nbcode"
            name="NetBeans LS">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.redhat.eclipseide.nbcode.PreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="lng.java"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>

</plugin>
